# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

jobs:
- job: get_asdkdownloader
  pool: Default
  steps:
  - powershell: |
      .\1_getASDKDownloader.ps1 -Verbose
